/* About section */
@media only screen and (min-width: 765px) {
  .contact-about-container{
    height: 100vh;
    padding: 15% 25% 0px 25%;
  }
  .contact-right{
    padding-top:10%;
  }
}
@media only screen and (max-width: 765px) {
  .contact-about-container{
    height: 100vh;
    padding: 20% 39.5px 30px 10%
  }
  .contact-img{
    width: 296px;
    height: 296px;
  }
}
.contact-about-title{
  margin-top: 10%;
  font-size: 44px;
}
.contact-about-content{
  margin-top: 10%;
  font-size: 22px;
}

/* Info section */
@media only screen and (min-width: 765px) {
  .contact-info-container{
    padding: 0px 25% 0px 31%;
  }
  .contact-map-container{
    padding: 0px 10% 0px 31%;
  }
}
@media only screen and (max-width: 765px) {
  .contact-info-container{
    padding: 0px 39.5px 30px 10%
  }
}
.contact-info-map{
  width: 100%;
  height: auto;
}
.contact-info-title{
  font-size: 10px;
  font-weight: bold;
}
.contact-info-content{
  font-size: 14px;
}
.contact-img-row{
  margin-top: 5%;
  padding-left: 2%;
}

/* Form section */
.contact-form-title{
  font-size: 28px;
  font-weight: bold;
  color: #fd6b00;
}
.contact-form-row{
  margin-top: 15%;
}
.contact-button-row{
  margin-top: 30px;
  margin-bottom: 10%;
  justify-content: flex-end;
}
.contact-input-row{
  margin-top: 30px;
}
.form-text{
  margin-top: 70px!important;
  margin-bottom: 10px;
  width: 100%;
  border: none;
}
.accept-col{
  display: flex;
}
.contact-check-text{
  margin-left: 20px;
}
textarea:focus, input:focus, select:focus{
  outline: none;
}
.contact-form-line{
  content: " ";
  display: block;
  height: 0;
  margin-left: 30px;
  border-bottom: solid 1px #181F2C;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .5;
}
.input-col:hover .contact-form-line{
  transition: all 0.4s;
  margin-left: 0px;
}