/*Whole site*/
body{
    font-family: 'Montserrat', sans-serif!important;
    /* height: 5000px; */
}

/* Navbar */
@media only screen and (min-width: 765px) {
    .nav-bar{
        background-color: transparent!important;
        font-size: 14px;
        height: 100px;
    }
    .navbar-brand{
        position: absolute;
        left: 100px;
    }
    #nav-item{
        margin-right: 50px;
    }
    .footer-2{
        display: none;
    }    
}
@media only screen and (max-width: 765px) {    
    .nav-bar{
        background-color: #131b27!important;
        top:0px!important;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
    #nav-collapse{
        margin-top: 60px;
    }
    .nav-item{
        margin-bottom: 20px;
    }
}
.nav-slash{
    color: #FD6B21;
}
.logo-img{
    width: auto;
    height: px;
}
.logo-img-black{
    width: auto;
    height: 18px;
}
.nav-bar{
    position: fixed!important;
    width: 100%;
    padding: 0px;
    z-index: 1;    
}
#nav-footer{
    text-align: left;
    font-size: 13px;
    font-weight: normal;
}
.footer-2{
    margin-top: 100px;
}

/* Landing section */
@media only screen and (min-width: 765px) {
    .landing-title-container{
        padding: 354px 0px 0px 120px;
    }
    .landing-content-container{
        padding: 0px 0px 0px 208px;
    }
    .landing-title{
        font-size: 66px;        
    }
    .landing-content{
        font-size: 14px;
        line-height: 2.5;
        font-weight: bold;
    }
    .line1 {
        width: 474px;
        height: 317px;
        border-bottom: 1px solid #FD6B21;
        transform: translateY(34px) translateX(5px) rotate(-78deg);
        position: absolute;
        top: -110px;
        left: -130px;
    }
    .line2 {
        width: 161px;
        border-bottom: 1px solid #FD6B21;
        transform: translateY(-20px) translateX(5px) rotate(0deg);
        position: absolute;
        top: 497px;
        left: 31px;
    }
    .line3 {
        width: 500px!important;
        height: 47px;
        border-bottom: 1px solid #FD6B21;
        transform: translateY(-20px) translateX(5px) rotate(-78deg);
        position: absolute;
        top: 713px;
        left: -131px;
    }
}
@media only screen and (max-width: 765px) {
    .landing-title-container{
        padding: 125px 0px 0px 39.5px;
    }
    .landing-content-container{
        padding: 0px 0px 0px 39.5px;
        width: 80%;
    }
    .landing-title{
        font-size: 36px;        
    }
    .landing-content{
        font-size: 16px;
        font-weight: bold;
    }
    .line1 {
        width: 474px;
        height: 317px;
        border-bottom: 1px solid #FD6B21;
        transform: translateY(34px) translateX(5px) rotate(-78deg);
        position: absolute;
        top: -350px;
        left: -180px;
    }
    .line2 {
        width: 161px;
        border-bottom: 1px solid #FD6B21;
        transform: translateY(-20px) translateX(5px) rotate(0deg);
        position: absolute;
        top: 270px;
        left: -10px;
    }
    .line3 {
        width: 520px;
        height: 47px;
        border-bottom: 1px solid #FD6B21;
        transform: translateY(-20px) translateX(5px) rotate(-78deg);
        position: absolute;
        top: 496px;
        left: -185px;
    }
}
.masthead {
    position: relative;
    width: 100%;
    height: 970px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../img/home-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.landing-title{
    color: white;
    font-weight: bold;
}
.landing-content{
    color: white;
}

/* About section */
@media only screen and (min-width: 765px) {
    .about-title{
        font-size: 62px;
    }
    .about-container{
        padding:77px 30% 30px 30%;
    }
}
@media only screen and (max-width: 765px) {
    .about-title{
        font-size: 42px;
    }
    .about-container{
        padding:37px 39.5px 30px 39.5px;
    }
}
.about-background{    
    background-color: #f6f6f6;
}
.about-title{    
    font-weight: bold;
}
.about-content{
    font-size: 14px;
    line-height: 2.5;
}
.about-link{
    font-size: 18px;
    font-weight: bold;
    color: #00adf0;
}
.about-line-one {
    width: 43px;
    height: 47px;
    border-bottom: 2px solid #00adf0;
    transform: translateY(-20px) translateX(5px) rotate(0deg);
    position: absolute;
    top: 2px;
    left: 10px;
}
.about-line-two {
    width: 13px;
    height: 0px;
    border-bottom: 2px solid #00adf0;
    transform: translateY(-20px) translateX(5px) rotate(-78deg);
    position: absolute;
    top: 53px;
    left: 44px;
}
.about-a{
    text-decoration: none!important;
}
.about-footer:hover .about-line-one {
    transition: all 0.4s;
    left: 20px;
}

.about-footer:hover .about-line-two {
    transition: all 0.4s;
    left: 54px;
}

/* DNA section */
@media only screen and (max-width: 765px) {
    .about-title{
        font-size: 42px;
    }
    .about-container{
        padding:37px 39.5px 30px 39.5px;
    }
    .mobile-reverse{
        flex-direction: column-reverse;
    }
}
.DNA-title{
    text-align: center;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    color:#fd6b00;
}
.DNA-title-one{
    font-size: 42px;
    font-weight: bold;
}
.DNA-title-two{
    font-size: 42px;
    font-style: italic;
    font-weight: bold;
    color:#fd6b00;
}
.DNA-card{
    padding-top: 50px;
}
.DNA-card a{
    color: black;
    text-decoration: none;
}

/* Piratas section */
@media only screen and (max-width: 765px) {
    .piratas-footer{
        margin-top: 20px;
    }
}
@media only screen and (min-width: 765px) {
    .piratas-footer{
        margin-top: 80px;
    }
}
.piratas-background{
    background-image: url(../img/piratas.svg);
    background-size: cover;
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-color: #131b27;
}
.piratas-title{
    text-transform: uppercase;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    color:#fd6b00;
}
.piratas-title-one{
    font-size: 10px;
    color: white;
    margin-bottom: 15px;
}
.piratas-title-two{
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
}
.piratas-content{
    font-size: 14px;
    color: white;
}
.piratas-content-row{
    margin-top: 50px;
}

/* Project section */
.project-background{
    position: relative;
    width: 100%;
    height: 760px;
    min-height: 35rem;
    background: linear-gradient(180deg,rgba(0,0,0,.2) 0,rgba(0,0,0,.7) 100%,#000),url(../img/woman-boat.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.project-title-one{
    font-size: 42px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.project-title-two{
    margin-top: 30px;
    font-size: 42px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.project-title-three{
    margin-top: 40px;
    font-size: 42px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.project-content{
    font-size: 14px;
    line-height: 2.5;
    color: white;
}
.project-num{
    margin-top: 10px;
    padding-left: 40px;
    font-size: 14px;
    color: #fd6b00;
}
.project-line-one{
    width: 60px;
    height: 293px;
    border-bottom: 1px solid #FD6B21;
    -webkit-transform: translateY(34px) translateX(5px) rotate(-70deg);
    transform: translateY(34px) translateX(5px) rotate(-80deg);
    position: absolute;
    top: -55px;
    left: -110px;
}
.project-line-two{
    width: 60px;
    height: 293px;
    border-bottom: 1px solid #FD6B21;
    -webkit-transform: translateY(34px) translateX(5px) rotate(-70deg);
    transform: translateY(34px) translateX(5px) rotate(-80deg);
    position: absolute;
    top: 20px;
    left: -110px;
}
.project-line-three{
    width: 60px;
    height: 293px;
    border-bottom: 1px solid #FD6B21;
    -webkit-transform: translateY(34px) translateX(5px) rotate(-70deg);
    transform: translateY(34px) translateX(5px) rotate(-80deg);
    position: absolute;
    top: 160px;
    left: -110px;
}
.project-num-container{
    width: 30%;
}
.project-content-container{
    width: 70%;
}

/* Contact section */
@media only screen and (max-width: 765px) {
    .rwap-1::after {
        right: 19%!important;
    }
}
@media only screen and (min-width: 765px) {
    .rwap-1::after {
        right: 35.5%;
    }
}
.contact-btn{
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact-row{
    justify-content: center;
}
.contact-row-one{
    margin-top: 60px;
    margin-bottom: 30px;
    justify-content: center;
}
.contact-title{
    text-align: center;
    font-size: 28px;
    line-height: 1.5;
}
.slantButton{
    position: relative;
    background-color: #FD6B00;
    color: #fff!important;
    padding: 7px 35px 10px 35px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    outline: 0;
    text-transform: capitalize;
    text-decoration: none!important;
    width: 182px;
    height: 36px;
}
.slantButton:before {
    content: '';
    position: absolute;
    top: 0;
    right: -1px;
    width: 0;
    height: 0;
    border-bottom: 48px solid #fff;
    border-left: 11px solid transparent;
}
.slantButton:after {
    content: '';
    position: absolute;
    top: -7px;
    right: -23px;
    border-left: 2px solid #fd6b00;
    width: 10px;
    height: 12px;
    transform: rotate(12deg);
}
.slantButton:hover {
    transition: all 0.5S;
    background-color: #f38f47;
}
.slantButton:hover::after {
    height: 40px;
    transition: all 0.5S;
}
.rwap-1 {
    display: inline;
}
.rwap-1::after {
    content: '';
    position: absolute;
    top: -14px;
    width: 44px;
    height: 24px;
    /* border-top: 3px solid #fd6b00; */
}
.rwap-1:hover::after {
    width: 54px;
    transition: all 0.5S;
}
.contact-line {
    width: 43px;
    height: 47px;
    border-bottom: 2px solid #fd6b00;
    transform: translateY(-20px) translateX(5px) rotate(0deg);
    position: absolute;
    top: -38px;
    left: 159px;
}
.contact-btn-border:hover .contact-line {
    width: 80px;
    left: 120px;
    transition: all 0.5S;
}
.contact-btn-border{
    position: relative;
}
.contact-btn-col{
    display: flex;
    justify-content: center;
}

/* Footer section */
@media only screen and (max-width: 765px) {
    .footer-btns{
        margin-top: 0px;
    }
    .footer-content-col{
        margin-top:50px;
    }
}
@media only screen and (min-width: 765px) {
    .footer-btns{
        margin-top: -45px;
    }
    .footer-content-col{
        margin-top:0px;
    }
} 
.footer-background{
    background-color: #131b27;
}
.footer-content{
    color: white;
    font-size: 14px;
    line-height: 3;
}
