@media only screen and (min-width: 765px) {
  #sidebar-right{
    width: 25%;
  }  
  .side-logo{
    display: none;
  }
  .sidebar-header{
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 765px) {
  #sidebar-right{
    width: 100%;
    height: 100%;
  }
  .side-logo{
    display: block;
  }
  .sidebar-header{
    justify-content: space-between;
  }
}
#sidebar-right{
  background-color: #131b27!important;
}
.b-sidebar-header{
  justify-content: flex-end;
}
.b-sidebar-header .close {
  margin-right: 0px!important;
}
.form-container{
  padding-left: 10%;
  padding-right: 10%;
}
.custom-input{
  width: 100%;
  background-color: #131b27!important;
  border: 1px solid #495057;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.custom-option{
  width: 100%!important;
  background-color: #131b27!important;
  color: white;
  border: 1px solid #495057;
  border-bottom: 1px!important;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.input-title{
  margin: 0px;
}
.input-row{
  margin-top: 30px;
}
.option-row{
  border-bottom: 1px solid #495057;
  padding-bottom: 10px;
}
.sidebar-header{
  display: flex;
  background-color: #131b27!important;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 50px;
}
.sidebar-close{
  font-weight: bold;
  border: 0px!important;
  box-shadow: none!important;
  background-color: transparent!important;
}

